/* @import url("home.css"); */
@import url("write.css");

#edit {
  position: absolute;
  right: 40px;
  top: 50px; /*아래쪽 여백을 조정합니다.*/
}
#delete {
  position: absolute;
  right: -25px;
  top: 50px; /*아래쪽 여백을 조정합니다. */
}
