form {
  margin: 20px;
  position: relative; /* 부모 요소를 상대 위치로 지정합니다. */
}

input {
  margin-bottom: 20px;
}

#write-box {
  width: 100%; /* 부모 요소의 너비에 맞추기 위해 100%로 지정합니다. */
  height: 500px;
}

#submit {
  position: absolute;
  right: -7px;
  top: 50px; /* 아래쪽 여백을 조정합니다. */
}
